<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/cloudhome"></ion-back-button>
      </ion-buttons>
    <ion-title>Baby Shop</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

    <ion-card>
        <img src="../../../assets/baby.jpg"/>
        <ion-card-content>
            <ion-card-title>
               $3.46
            </ion-card-title>
            <p>
                Baby Feeder
            </p>

            <ion-button color="success" expand="full" >Add To Cart</ion-button>

        </ion-card-content>
    </ion-card>

    <ion-card>
        <img src="../../../assets/abc.jpg"/>
        <ion-card-content>
            <ion-card-title>
                $6.36
            </ion-card-title>
            <p>
                Cloud baby wear
            </p>
            <ion-button color="success" expand="full" >Add To Cart</ion-button>
        </ion-card-content>

    </ion-card>
    <ion-card>
        <img src="../../../assets/baby.jpg"/>
        <ion-card-content>
            <ion-card-title>
                $3.46
            </ion-card-title>
            <p>
                Baby Feeder
            </p>
            <ion-button color="success" expand="full" >Add To Cart</ion-button>
        </ion-card-content>
    </ion-card>



</ion-content>
