<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/cloudhome"></ion-back-button>
      </ion-buttons>
    <ion-title>Emergency</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-item lines="inset" button >
        <ion-label>
            Ambulance
            <p>+0456781</p>
        </ion-label>
        <ion-icon slot="end"  name="ios-arrow-forward" color="secondary"></ion-icon>
    </ion-item>
    <ion-item lines="inset" >
        <ion-label>
            Police
            <p>+23283723</p>
        </ion-label>
        <ion-icon slot="end"  name="ios-arrow-forward" color="secondary"></ion-icon>
    </ion-item>
    <ion-item lines="inset" button >
        <ion-label>
            Neighbour
            <p>+238239232</p>
        </ion-label>
        <ion-icon slot="end"  name="ios-arrow-forward" color="secondary"></ion-icon>
    </ion-item>



</ion-content>
