<ion-header no-shadow no-border>
  <ion-toolbar no-shadow color="primary">
    <ion-title></ion-title>

  </ion-toolbar>
</ion-header>

<ion-content color="primary" style="background-color: #ff1b39; " padding>
    <div class="content1">
        <div  style="text-align: center;" >
            <h3>InterRacial</h3>
        </div>
    <div style="margin-top: 50px; text-align: center;">
        <div align-items-center>

        <p>Membership fees is R87 per month</p>
    </div>


    </div>
        <!--<ion-button style="margin-top: 50px" shape="round" expand="full" color="light" (click)="doGoogleLogin()">-->
            <!--<ion-icon name="logo-googleplus"></ion-icon>-->
            <!--Login with Google-->

        <!--</ion-button>-->
    <ion-button style="margin-top: 50px" shape="round" expand="full" color="success" (click)="login()">SIGN IN</ion-button>
    <ion-button shape="round" style="margin-top: 20px;"  expand="full" color="secondary" (click)="register()">SIGN UP</ion-button>
        <div style="margin-left: 35%; margin-top: 40px; font-weight: bold" >Version 1.1</div>
        <span style="position: absolute; bottom: 3px; font-size: 13px; text-align: center; width: 95%">By signing up , you agree to the InterRacial | Terms of Service and | Privacy Policy</span>
    </div>
</ion-content>
