<ion-header no-shadow no-border>
    <ion-toolbar no-shadow color="primary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/readings"></ion-back-button>
        </ion-buttons>
        <ion-title text-center="">InterRacial</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content color="primary" style="background-color: #ff1b39; " padding>

    <div style="background-color: #ff1b39; border-top: solid white 1px; border-bottom: solid white 1px;  margin-top: 100px; font-weight: bold; color: white;">

        <div style="margin-top: 20px;margin-bottom: 20px;" align-items-center>
            <h3 style="color: #000000;font-weight: bold;text-align: center;">Membership Payments</h3>
            <p style="text-align: center">Membership is R87 per month</p>
            <div style="font-weight: bold; font-size: 14px;">
            <!--<p >Account: Manu Technologies</p>-->
            <!--<p >Account No: 1616917464</p>-->
            <!--<p>Branch Name: Woodmead</p>-->
            <!--<p >Swift Code: FIRNZAJJXXX</p>-->
            <!--<p >Branch Code: 250-655</p>-->
                <ion-grid style="font-weight: bold;  font-size: 14px;">
                    <ion-row>
                        <ion-col>
                            Account
                        </ion-col>
                        <ion-col style=" font-size: 14px;">
                            Manu Technologies
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                            Bank
                        </ion-col>
                        <ion-col >
                            FNB
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                            Account No
                        </ion-col>
                        <ion-col style="font-size: 14px;">
                            1616917464
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                            Branch Name
                        </ion-col>
                        <ion-col style="font-size: 14px;">
                            Woodmead
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </div>

        </div>




    </div>


    <span style="position: absolute; bottom: 3px; font-size: 13px; text-align: center; width: 95%">By signing up , you agree to the InterRacial | Terms of Service and | Privacy Policy</span>

</ion-content>
