<ion-header no-shadow no-border>
    <ion-toolbar no-shadow color="primary">
        <ion-title text-center>InterRacial</ion-title>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/readings"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content color="primary" style="background-color: #ff1b39; " padding>

    <div style="border: solid 1px white; padding: 10px;">
    <div style="background-color: #ff1b39; margin-top: 10px; text-align: center; color: white;">

        <div align-items-center>
            <h3>Contact Details</h3>
            <p>Suggestions, compliments or complaints</p>
            <p>You can get hold of us 24/7/365</p>
        </div>
        <div style="margin-top: 40px;" align-items-center>
            <h3> whatsapp</h3>
            <p>+27 76 550 3418</p>
            <p>+27 62 568 2683</p>
            <h3><ion-icon name="mail"></ion-icon></h3>
            <p>interracial@getmycontact.co.za</p>
        </div>




    </div>
    <div style="margin-left: 20%">
    <a href="tel: +27 76 550 3418">  <ion-button shape="round"   color="success" >Call</ion-button></a>
    <a href="mailto: interracial@getmycontact.co.za"><ion-button shape="round"  color="secondary" >Mail </ion-button></a>
    </div>

    </div>
    <span style="position: absolute; bottom: 3px; font-size: 13px; text-align: center; width: 95%">By signing up , you agree to the InterRacial | Terms of Service and | Privacy Policy</span>

</ion-content>
